
<head>
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
</head>

<div id="head-style"><h1>MY PROFILE</h1></div>
<div id="current-user"><h3><%= @user.username %></h3></div>




<body id="profilebg">

<div class="main-wrapper">
<div class="form-name"><h3>Create a blog</h3></div>

<form action='/create_blog' method='post'>
	<div><input type="text" name="title" placeholder='title'></div>
	<div id='blog'><textarea maxlength="149" name="content" placeholder='content'></textarea></div>
	<div><input type="submit" value="create blog" ></div>

</form>
</div>

<div id="profile_feed_wrapper">
<% @blogs.each do |t| %>

<div class="feed_blogs">
	<h4><%= t.title %></h4>
	<p><%= t.content %></p>
	<div id="editblogform">
	<form method="get" action="/<%= t.id %>/edit_blog"><input type="submit" name="" value="Edit">
	</form>
	<form method="post" action="/<%= t.id %>/delete_blog"><input type="submit" name="" value="Delete">
	</form>
</div>
</div>

<% end %>

</div>

</body>


